#hero {
  width: 70%;
}

table {
  background-color: green;
  width: 100%;
  height: 50vh;
}

tr {
  text-align: center;
}

td:hover {
  background-color: brown;
  cursor: pointer;
}

#hinzufügen {
  background-color: red;
  width: 100%;
  margin: 3px 0 3px 0;
  height: 32px;
}
#buttons {
  display: flex;
  gap: 1px;
}
#Liefern {
  background-color: blue;
  width: 50%;
  height: 35px;
}

#eat {
  background-color: chartreuse;
  width: 50%;
}

.ergebniss {
  display: flex;
  height: 30vh;
  background-color: aqua;
}
