.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
}

.Container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: chartreuse;
  gap: 2rem;
  width: 100%;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.preis {
  color: blue;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.reset {
  display: flex;
  justify-content: center;
}

.gesamt {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: blue;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
